# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
.next
out

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
expo-debug.log

# turborepo
.turbo

# Firebase Admin SDK credentials
*-firebase-adminsdk-*.json
